@using TextDifficultyDeterminer.Website.CheckAgainstDatabase 

@page "/CheckAgainstDatabase"

@inherits CheckTextAgainstDatabaseBase; 


<div class="row">
    @if(LanguageList != null)
    {
        <RadzenText Text="Language"></RadzenText>
        <RadzenDropDown @bind-Value="LanguageId" Data="LanguageList" TextProperty="LanguageName" ValueProperty="Id">
        </RadzenDropDown>
    }
</div>

<div class="row">
    <h5>Please upload the Text files for the Corpus here</h5>
    <InputFile OnChange="UpdateFiles" multiple></InputFile>
    <RadzenButton Text="Upload" Click="HandleCorpus"></RadzenButton>
</div>

@if(IsNotZip)
{
    <div class="row">
        <RadzenText class="text-danger" Text="Error! Incorrect File format!"></RadzenText>
    </div>
}