@using TextDifficultyDeterminer.Website.TestCorpus

@inherits TestCorpusBase;

@page "/TestCorpus"


<div class="row">
    <h5>Please upload the Text files for the Corpus here</h5>
    <InputFile OnChange="UpdateFiles" multiple></InputFile>
    <RadzenButton Text="Upload" Click="HandleCorpus"></RadzenButton>
</div>

<ErrorCheck Complete=@Complete Error=@Error Loading=@Loading></ErrorCheck>