@using TextDifficultyDeterminer.Website.TestCorpus

@inherits TestCorpusBase;

@page "/TestCorpus"

<EditForm Model="TestCorpusUploadDto">
    <div class="row">
        <h5>Please upload a Zip file with the Corpus here</h5>
        <InputFile class="form-control" OnChange="LoadZipFile"> </InputFile>
    </div>
</EditForm>

@if(IsNotZip)
{
    <div class="row">
        <RadzenText class="text-danger" Text="Error! Incorrect File format!"></RadzenText>
    </div>
}