@using TextDifficultyDeterminer.Website.TestCorpus

@inherits TestCorpusBase;

@page "/TestCorpus"

<EditForm Model="TestCorpusUploadDto">
    <div class="row">
        <h5>Please upload the Text files for the Corpus here</h5>
        <RadzenUpload @ref="Upload" Auto="false" Multiple="true" Url="http://localhost:5128/api/LoadCorpus"></RadzenUpload>
        <RadzenButton Text="Upload" Click="@( () => Upload.Upload())"></RadzenButton>
    </div>
</EditForm>

@if(IsNotZip)
{
    <div class="row">
        <RadzenText class="text-danger" Text="Error! Incorrect File format!"></RadzenText>
    </div>
}