{{ include 'Header.html'}}
<h1>Welcome to the Text Difficulty API!</h1>
<p>
    On this site, there is access to a service that will help you to evaluate the difficulty of texts in various languages. This should be able to work
    for any language that is written as English is, but may well not cope well with oriental languages like Japanese or Chinese.

    Currently, only Latin has any serious meaningful implementation, and so therefore it's not going to be the most useful for most people.
</p>



<button type="button" hx-get="/CreateLanguage" hx-target="#createlanguage" hx-swap="innerHtml">Create Language</button>
<div id="createlanguage"></div>

{{ include 'Footer.html' }}